.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    color: var(--blue);
    margin-left: 40px;
}

nav a:hover{
    color: var(--orange);
}

.open{
    display: none;
}

